@import url('https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap');

.landing-bg-img {
    background-image: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/images/Bloom.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.text-markup {
    font-size: 125px;
    font-family: 'Permanent Marker', cursive;
}