.tasting-bg-img {
    background-image: linear-gradient( rgba(242, 205, 136, 0.5), rgba( 64, 64, 64, 0.5)), url("/images/topography.png");
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
}

