.pin-holder {
    width: 40px;
    height: 40px;
    position: relative;
  }
  .pin-holder .map-pin {
    background-color: #0090dc;
    border: 2px solid white;
    border-radius: 20px;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 8px;
    left: 8px;
    z-index: 20;
  }
  .pin-holder .map-pin.red {
    background-color: #f5002e;
  }
  .pin-holder .map-pin.orange {
    background-color: #ffa300;
  }
  .pin-holder .map-pin.green {
    background-color: #00893c;
  }
  .pin-holder .map-pin.blue {
    background-color: #0090dc;
  }
  .pin-holder .map-pin.gray {
    background-color: #676767;
  }
  .pin-holder .pin-pulse {
    background-color: #f5002e;
    -webkit-border-radius: 30px;
    height: 40px;
    width: 40px;
    position: absolute;
    left: 2px;
    top: 2px;
    z-index: 10;
    -webkit-animation: pulsate 1.5s ease-out;
    -webkit-animation-iteration-count: infinite;
    opacity: 0.0;
  }
  @-webkit-keyframes pulsate {
    0% {
      -webkit-transform: scale(0.1, 0.1);
      opacity: 0.0;
    }
    50% {
      opacity: 0.3;
    }
    100% {
      -webkit-transform: scale(1.5, 1.5);
      opacity: 0.0;
    }
  }
